[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "o2geosocial"]
	path = o2geosocial
	url = https://github.com/alxsrobert/o2geosocial
